.advantages {
  padding: 50px 20px 60px;

  @media (min-width: 768px) {
    padding: 60px 20px 100px 20px;
  }

  @media (min-width: 1440px) {
    padding: 100px 40px 120px;
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__badge {
  color: #7859cf;
  font-weight: $font-weight-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.advantages__heading {
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  font-weight: $font-weight-bold;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    line-height: 64px;
    font-size: 42px;
    margin-bottom: 60px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 80px;
  }
}

.advantages__item--speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/feature-speed.svg");
  background-repeat: no-repeat;
  background-size: 50px 56px;
  height: 142px;
  background-position: top;

  @media (min-width: 768px) {
    width: 339px;
    height: 94px;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: unset;
  }

  @media (min-width: 1440px) {
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 52px 56px;
    height: 170px;
    width: 318px;
    background-position: top;
  }
}

.advantages__item--fit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/feature-fit.svg");
  background-repeat: no-repeat;
  background-size: 50px 56px;
  height: 142px;
  background-position: top;

  @media (min-width: 768px) {
    width: 339px;
    height: 94px;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: unset;
  }

  @media (min-width: 1440px) {
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 52px 56px;
    height: 170px;
    width: 317px;
    background-position: top;
  }
}

.advantages__item--energy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/feature-energy.svg");
  background-repeat: no-repeat;
  background-size: 50px 56px;
  height: 142px;
  background-position: top;

  @media (min-width: 768px) {
    width: 339px;
    height: 118px;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: unset;
  }

  @media (min-width: 1440px) {
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 52px 56px;
    height: 170px;
    width: 318px;
    background-position: top;
  }
}

.advantages__item--ecology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/feature-ecology.svg");
  background-repeat: no-repeat;
  background-size: 50px 56px;
  height: 142px;
  background-position: top;

  @media (min-width: 768px) {
    width: 339px;
    height: 118px;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: 0% 2%;
  }

  @media (min-width: 1440px) {
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 52px 56px;
    height: 170px;
    width: 317px;
    background-position: top;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.advantages__text {
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 72px;
    text-align: start;
  }

  @media (min-width: 1440px) {
    padding-left: 0;
    text-align: center;
  }
}

.advantages__image {
  margin-bottom: 10px;
}

.advantages__title {
  margin-bottom: 4px;
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
    padding-left: 72px;
  }

  @media (min-width: 1440px) {
    padding-left: 0;
    text-align: center;
  }
}
