.button {
  background-color: #7859cf;
  color: #ffffff;
  min-width: 113px;
  height: 40px;
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight-regular;
  padding: 0;
}

.button:hover {
  background-color: #9070ec;
}

.button:active {
  background-color: #593cac;
}

.catalog__form-button-submit {
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 768px) {
    width: 137px;
  }

  @media (min-width: 1440px) {
    width: 149px;
  }
}

.catalog__form-button-reset {
  width: 280px;
  background-color: #ffffff;
  color: #7859cf;

  @media (min-width: 768px) {
    width: 137px;
  }

  @media (min-width: 1440px) {
    width: 149px;
  }
}

.catalog__form-button-reset:hover {
  color: #ffffff;
}

.catalog__item-button {
  height: 36px;
  width: 141px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
