.button {
  background-color: #7859cf;
  color: #ffffff;
  min-width: 113px;
  min-height: 40px;
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight-regular;
}
