.catalog {
  padding: 50px 20px 44px;
  background-color: #f8f8f8;
}

.catalog__price__slider {
  margin-bottom: 32px;
}

.catalog__price__field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 18px;
}

.catalog__price__value {
  width: 118px;
  height: 40px;
  border-radius: 4px;
  border: 2px #9070ec solid;
}

.catalog__radio[type="radio"]:checked + .catalog__control-mark {
  background-image: url("../../icons/form-radio.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px #7859cf solid;
}

.catalog__control-mark {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  background-color: #ffffff;
  bottom: 0;
}

.catalog__control-item {
  height: 24px;
  align-items: center;
  display: flex;
  position: relative;
}

.control__switch {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.control__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
}

.control__switch_toggle {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 42px;
  height: 24px;
  background: #dddddd;
  border-radius: 50px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.control__switch_toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  transition: left 0.5s ease-in-out, width 1.5s ease-in-out, transform 0.5s ease-in-out;
}

.control__switch:checked + .control__switch_toggle {
  background: #7859cf;
}

.control__switch:checked + .control__switch_toggle::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.control__switch:disabled {
  pointer-events: none;
}

.control__switch:disabled + .control__switch_toggle {
  cursor: not-allowed;
  background: #eaeaea;
}

.control__switch:disabled + .control__switch_toggle::after {
  background: #f8f8f8;
}

.control__switch:focus + .control__switch_toggle::before,
.control__label:active .control__switch:not([disabled]) + .control__switch_toggle::before {
  outline: 2px solid #0cdb51;
  outline-offset: 2px;
}

.control__label:active .control__switch:not([disabled]) + .control__switch_toggle::after {
  width: 70px;
}

.catalog__heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.catalog__heading {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__badge {
  color: #7859cf;
  font-weight: $font-weight-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.catalog__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog__price-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog__radio-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__control-label {
  padding-left: 34px;
  font-size: 16px;
  line-height: 24px;
}

.catalog__toggle-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.catalog__form-container {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog__sort-heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px 20px 20px;
  width: 280px;
  height: 420px;
}

.catalog__item-link-image {
  margin-bottom: 20px;
  height: 188px;
  align-self: center;
}

.catalog__item-title {
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 4px;
  justify-self: flex-start;
}

.catalog__item-text {
  line-height: 20px;
  margin-bottom: 16px;
}

.catalog__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.catalog__item-button-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.catalog__pagination-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.catalog__pagination-item {
  width: 40px;
  height: 40px;
}

.catalog__pagination-button.current {
  color: #333333;
  background-color: transparent;
  font-weight: 600;
}

.catalog__pagination-button {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #7859cf;
  font-size: 16px;
  line-height: 24px;
  border: none;
  font-family: $font-family;
  padding: 0;
}

.catalog__pagination-item:first-child .catalog__pagination-button {
  background-image: url("../../icons/pagination-vektor.svg");
  background-size: 6px;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__pagination-item:last-child .catalog__pagination-button {
  background-image: url("../../icons/pagination-vektor.svg");
  background-size: 6px;
  background-position: center;
  background-repeat: no-repeat;
  rotate: 180deg;
}
