.footer__social {
  display: flex;
  gap: 38px;
  padding: 22px 0 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: 768px) {
    padding: 42px 20px 0 0;
    justify-content: space-between;
    border: none;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    gap: 80px;
  }
}

.footer__social-list {
  display: flex;
  gap: 20px;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-link {
  height: 36px;
  padding-left: 20px;

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }
}

.footer__eshop {
  padding-bottom: 28px;
  padding-top: 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: 768px) {
    padding: 0;
    flex-shrink: 0;
    border: none;
    width: 223px;
  }

  @media (min-width: 1440px) {
    width: 317px;
  }
}


.footer__eshop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__eshop-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer__media {
  padding-bottom: 28px;
  border-bottom: 1px solid #f0ebff;
  padding-top: 20px;

  @media (min-width: 768px) {
    padding: 0;
    flex-shrink: 0;
    border: none;
    width: 222px;
  }

  @media (min-width: 1440px) {
    width: 318px;
  }
}

.footer__title {
  padding-left: 20px;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 20px;
  color: #7859cf;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 12px;
  }
}

.footer__media-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__media-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer__contacts {
  padding: 20px 0;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: 768px) {
    padding: 0;
    border: none;
    width: 223px;
  }

  @media (min-width: 1440px) {
    width: 317px;
  }
}

.footer__contacts-icon {
  margin-top: 2px;
}

.footer__contacts-adress {
  margin: 0;
  font-family: $font-family;
  width: 222px;

  @media (min-width: 768px) {
    width: 209px;
  }

  @media (min-width: 1440px) {
    width: fit-content;
  }
}

.footer__contacts-list {
  padding-left: 20px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-top: 8px;
  }
}

.footer__contacts-item {
  display: flex;
  gap: 6px;
}

.footer__contacts-item-adr {
  display: flex;
  gap: 6px;
  flex-direction: row;
}

.footer__developer-container {
  padding: 20px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  @media (min-width: 768px) {
    padding: 30px 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 20px 0 40px;
  }
}

.footer__developer-link {
  display: flex;
  align-items: center;
}

.footer__developer-text {
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    gap: 30px;
    padding: 30px 20px 0 20px;
  }
}

@media (min-width: 1440px) {
  .footer__logo-link::after {
    content: "Интернет-магазин кофейных напитков";
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-weight-regular;
    width: 318px;
    height: 20px;
  }

  .footer__main-container {
    display: flex;
    padding: 40px 40px 0;
    gap: 30px;
  }

  .footer__container {
    padding: 9px 0 0;
  }
}
