.hero {
  background-color: #f3ebe1;
  min-width: 320px;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding: 60px 20px 0 20px;
    background-image: linear-gradient(to bottom, #f3ebe1 640px, #ffffff 15%);
  }

  @media (min-width: 1440px) {
    background-image: none;
    padding: 30px 40px 60px 40px;
  }
}

.hero__slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
  }

    @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.hero__slider-pagination {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    height: 24px;
  }
}

.hero__slider-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__slider-pagination-btn {
  width: 62px;
  height: 4px;
  background-color: #ffffff;
  border: none;

  &.active-btn {
    background-color: #7859cf;
  }
}

.hero__image {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.hero__slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

    @media (min-width: 1440px) {
    align-items: flex-start;
  }
}



.hero__slider-button {
  width: 20px;
  border: none;
  background-color: transparent;
  height: 651px;
  position: absolute;
  padding: 0;
  cursor: pointer;

  @media (min-width: 768px) {
    height: 640px;
    width: 80px;
  }

    @media (min-width: 1440px) {
    height: 714px;
  }
}

.slider-button-prev {
  top: 60px;
  left: 0;

  @media (min-width: 768px) {
    top: 80px;
  }
}

.slider-button-next {
  top: 60px;
  right: 0;
  transform: rotate(180deg);

  @media (min-width: 768px) {
    top: 80px;
  }
}


.hero__slider-badge {
  font-weight: $font-weight-bold;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #7859cf;
  margin-bottom: 4px;
}

.hero__slider-title {
  font-weight: $font-weight-bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.hero__slider-text {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    width: 608px;
    padding: 0;
    font-size: 20px;
    line-height: 32px;
  }

    @media (min-width: 1440px) {
    text-align: start;
    margin-bottom: 40px;
    width: 625px;
  }
}

.hero__slider-price {

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.old-price {
  line-height: 33px;
  font-size: 16px;
  color: #7859cf;
  text-decoration: line-through;
  margin-right: 6px;

  @media (min-width: 768px) {
    margin-right: 6px;
  }
}

.new-price {
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
}
