.page-header {
  background-color: #ffffff;
  height: 60px;
  min-width: 320px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  justify-content: space-between;
}

.page-header__container {
  display: flex;
}

.page-header__logo {
  align-self: center;
}

.page-header__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.page-header__nav {
  position: absolute;
  top: 61px;
  display: block;
}

.nav__list {
  display: none;
}

.active {
  display: block;
}

.nav__item {
  min-width: 320px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #f0ebff 1px solid;
  border-top: #f0ebff 1px solid;
}
