.page-header {
  background-color: #ffffff;
  height: 60px;
  min-width: 320px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  justify-content: space-between;

  @media (min-width: 768px) {
    height: 80px;
    padding-right: 20px;
  }
}

.page-header__container {
  display: flex;
}

.page-header__logo {
  align-self: center;
}

.page-header__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;

  @media (min-width: 768px) {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .js-toggle-button {
    display: none;
  }
}

.page-header__nav {
  position: absolute;
  top: 61px;
  display: block;
  background-color: #ffffff;
  left: 0px;

  @media (min-width: 768px) {
    position: static;
  }
}

.nav__list {
  display: none;
}

.active {
  display: block;

  @media (min-width: 768px) {
    display: flex;
  }

}

.nav__item {
  width: 320px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #f0ebff 1px solid;
  border-top: #f0ebff 1px solid;

  @media (min-width: 768px) {
    width: fit-content;
    border: none;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .nav__item.current-page {
    border-bottom: 2px solid #7859cf;
  }

  .nav__link.current-page {
    color: #7859cf;
  }

  .nav__link {
    padding: 32px 20px;
  }
}
